script: 
  - "gcc src/hello.c -o hello"
  - "ls -l"
  - "file hello"
  - "./hello"
  - "chmod +x build-bootstrap.sh"
  - "./build-bootstrap.sh"
  - "i686-w64-mingw32-gcc src/hello.c -o hello.exe"
  - "file hello.exe"
deploy:
  provider: releases
  file:
   - "hello"
   - "hello.exe"
  skip_cleanup: true
  api_key: $auth
  on:
    tags: true  
